@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

nav a {
  margin: 0 10px;
  font-weight: bold;
}

form input {
  display: block;
  margin: 15px;

}

colm-form {
  flex: 0 0 40%;
  text-align: center;
}



.colm-logo h2 {
  font: 26px;
  font-weight: 400;
  padding: 0 30px;
  line-height: 32px;
}

.colm-form .form-container {
  background-color: #ffffff;
  border: none;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1), 0 8px 16px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  padding: 30px;
  width: 400px;
  height: auto;
}

.colm-form .form-container input,
.colm-form .form-container .btn-login {
  width: 100%;
  margin: 10px 0;
  height: 45px;
  vertical-align: middle;
  font-size: 16px;
}

.colm-form .form-container input {
  border: 1px solid #dddfe2;
  color: #1d2129;
  padding: 0 8px;
  outline: none;
}

.colm-form .form-container input:focus {
  border-color: #1877f2;
  box-shadow: 0 0 0 2px #e7f3ff;
}

.colm-form .form-container .btn-login {
  border: none;
  border-radius: 6px;
  font-size: 20px;
  padding: 0 16px;
  color: #ffffff;
  font-weight: 700;
}


.colm-form .form-container a:hover {
  text-decoration: underline;
}

.colm-form .form-container .btn-new {
  background-color: #42b72a;
  border: none;
  border-radius: 6px;
  font-size: 17px;
  line-height: 48px;
  padding: 0 16px;
  color: #ffffff;
  font-weight: 700;
  margin-top: 20px;
}

.colm-form p {
  font-size: 14px;
}

.colm-form p a {
  text-decoration: none;
  color: #1c1e21;
  font-weight: 600;
}

.colm-form p a:hover {
  text-decoration: underline;
}

.mdk a {
  display: block;
  font-size: 14px;
  padding: 5px 25px;
  border: 0.5px solid indigo;
  border-radius: 26px;
  margin: 10px;
}

.mdk a:hover {
  background-color: #5850EC;
  color: white;
  text-decoration: none;
}